html {
	background-color: #4286f4;
}

img {
	border: 5px solid black;
}

h1 {
	text-align: center;
}

ul {
	list-style-type: square;
}

ol {
	list-style-type: upper-roman;
}

.videocomment {
	padding-bottom: 10px;
	padding-left: 5px;
}

.noborder {
	border: none;
}

.bigfont {
	font-size: 2em;
}

.whitetext {
	color: #fff;
}

.underline {
	text-decoration: underline;
}